{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ML</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body class="home">
	{% block content %}
	{% endblock %}
  <script>
    let closeBtn = document.getElementById('close')


    let predictBtn = document.getElementById('predict')
    let commentBtn = document.getElementById('comment')
    let slider = document.getElementById('slider')


    closeBtn.addEventListener("click", function(e){
      detail.style.display = "none"
    })

    predictBtn.addEventListener("click", function(){
      slider.style.transform = 'translateX(0px)'
    })

    commentBtn.addEventListener("click", function(){

      slider.style.transform = 'translateX(-320px)'
    })

  </script>
</body>
</html>
